<link href="./css/list.css" rel="stylesheet" />
<head>
    <title>PHPJabbers.com | Free Book Online Store Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">


                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/home" class="active">Home</a></li>

                <li><a href="/ListofBooks">AllBooks</a></li>

                <li><a href="checkout.html">Checkout</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>

                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="terms.html">Terms</a></li>
                    </ul>
                </li>

                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div class="maket-books">

            <div class="flex-wrapper-two">
                <p class="sortuvati-za">Сортувати за</p>
                <img alt=""
                     src="https://static.overlay-tech.com/assets/93377c76-fdc6-407d-867d-63a91435e960.svg" />
            </div>
            <div class="flex-wrapper-three">
                <div class="flex-wrapper-six">
                    <p class="vsi">Всі</p>
                    <p class="zhanr">Жанр</p>
                    <p class="zhanr">Місто</p>
                    <p class="zhanr">Мова</p>
                    <p class="vsi">Палітурка</p>
                </div>
                <div class="flex-wrapper-seven">
                    <img alt=""
                         class="group-43"
                         src="https://static.overlay-tech.com/assets/80aa3cdf-5534-44b6-b475-f7ebd1321f16.svg" /><img alt=""
                                                                                                                      class="group-43"
                                                                                                                      src="https://static.overlay-tech.com/assets/6a348a50-b027-4cd7-82e8-09947fa96c93.svg" /><img alt=""
                                                                                                                                                                                                                   class="group-43"
                                                                                                                                                                                                                   src="https://static.overlay-tech.com/assets/caf0d920-b8f4-4e77-868c-da8899d1e0cd.svg" /><img alt=""
                                                                                                                                                                                                                                                                                                                class="group-43"
                                                                                                                                                                                                                                                                                                                src="https://static.overlay-tech.com/assets/f8c6f228-de49-4ade-8ca3-f4a28b40c40c.svg" />
                </div>
                <div class="flex-wrapper-eight">
                    <img alt=""
                         class="sherlock-holmes-1"
                         src="https://static.overlay-tech.com/assets/950eab8f-fe44-49a3-bfdf-26653b38da97.png" />
                    <div class="group-47"><p class="new">new</p></div>
                    <p class="sherlok-golms">Шерлок Голмс</p>
                </div>
                <div class="flex-wrapper-nine">
                    <img alt=""
                         class="num-20171208144529-003844300-1-1"
                         src="https://static.overlay-tech.com/assets/a964363e-4bb9-448f-a546-9246f2988288.png" />
                    <div class="group-48"><p class="new">new</p></div>
                    <p class="garri-potter-i-filosofs-kij-kamin">
                        Гаррі Поттер і філософський камінь
                    </p>
                </div>
                <div class="flex-wrapper-ten">
                    <img alt=""
                         class="num-20171208144529-003844300-1-1"
                         src="https://static.overlay-tech.com/assets/2320c5f9-44b5-499a-b06b-07aacc51708b.png" />
                    <div class="group-48"><p class="new">new</p></div>
                    <p class="peremozhcju-ne-distanet-sja-nichogo">
                        Переможцю не дістанеться нічого
                    </p>
                </div>
                <div class="flex-wrapper-eight">
                    <img alt=""
                         class="num-20171208144529-003844300-1-1"
                         src="https://static.overlay-tech.com/assets/8a3a9518-a7be-412c-a25e-e0ca58ba8373.png" />
                    <div class="group-50"><p class="new">new</p></div>
                    <p class="muzej-pokinutih-sekretiv">
                        Музей покинутих секретів
                    </p>
                </div>
            </div>
            <div class="flex-wrapper-four">
                <img alt=""
                     class="num-378381528-w640-h640-gloriya-povnij-atlas"
                     src="https://static.overlay-tech.com/assets/c193a8fa-8fd7-402f-8bae-f10a7c0cf795.png" /><img alt=""
                                                                                                                  class="num-52451-96711-1"
                                                                                                                  src="https://static.overlay-tech.com/assets/0bdc1d3f-2e18-429e-a7c6-4a28aafe45cc.png" /><img alt=""
                                                                                                                                                                                                               class="num-52451-96711-1"
                                                                                                                                                                                                               src="https://static.overlay-tech.com/assets/07cf02c7-eb04-47a7-9789-708b8c585024.png" /><img alt=""
                                                                                                                                                                                                                                                                                                            class="num-378381528-w640-h640-gloriya-povnij-atlas"
                                                                                                                                                                                                                                                                                                            src="https://static.overlay-tech.com/assets/df891a0c-8b86-445b-8b5f-2e42aaa3aca0.png" />
            </div>
            <div class="flex-wrapper-five">
                <p class="povnij-atlas-likars-kih-roslin">
                    Повний атлас лікарських рослин
                </p>
                <p class="vdivljajuchis-u-sonce">Вдивляючись у сонце</p>
                <p class="amadoka">Амадока</p>
                <p class="amadoka">По кому подзвін</p>
            </div>
            <div class="flex-wrapper-one">
                <img alt=""
                     src="https://static.overlay-tech.com/assets/55960ff9-c928-4d83-be75-c7a53ac3ac05.png" />
            </div>
            <p class="antena">Антена</p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

