<link href="./css/style.css" rel="stylesheet" />
<head>
    <title>PHPJabbers.com | Free Book Online Store Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

        
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/home" class="active">Home</a></li>

                <li><a href="/ListofBooks">AllBooks</a></li>

                <li><a href="checkout.html">Checkout</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>

                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="terms.html">Terms</a></li>
                    </ul>
                </li>

                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        
        <div class="component-1">
            <div class="flex-wrapper-two">
                <div class="flex-wrapper-ten">
                    <p class="libroswap">libroswap</p>
                    <div class="group-39">
                        <div class="group">
                            <div class="vector-three"></div>
                        </div>
                    </div>

                </div>
                <div class="relative-wrapper-one">
                    <p class="libro-swap">Libro swap</p>
                    <p class="obmin">Обмін</p>
                    <p class="knigami">книгами</p>
                </div>
                
            </div>
            <div class="flex-wrapper-three">
                <img alt=""
                     class="alfons-morales-yl-swj-sy7stw-unsplash-1"
                     src="https://static.overlay-tech.com/assets/37e5e113-8d6e-47d6-9d33-be4609b08457.png" />
                <div class="flex-wrapper-eleven">
                    <p class="scho-zh-take-libro-swap">
                        Що ж таке LibroSwap?
                    </p>
                    <p class="ce-nevelika-internet-biblioteka-ce-svjat">
                        Це невелика інтернет-бібліотека. Це свято літератури
                        і місце, де книги отримують нове життя. Таким чином
                        проект об&#039;єднує читачів усього світу.
                    </p>
                </div>
            </div>
            <div class="flex-wrapper-four">
                <p class="vdihni-nove-zhittja-v-knigi-zamist-togo">
                    Вдихни нове життя в книги!<br />
                    Замість того, щоб дозволяти вашим старим улюбленцям
                    збирати пил - передайте їх іншим читачам, щоб вони теж
                    могли насолодитися читанням чогось нового.<br />
                    LibroSwap дозволяє безкоштовно приєднатись та
                    отримувати задоволення від знаходження нових улюблених
                    книг.<br />
                    Тому будьте сміливішими разом з вашими книгами -
                    читайте та передавайте далі :)
                </p>
            </div>
            <div class="flex-wrapper-five">
                <div class="flex-wrapper-twelve">
                    <p class="jak-vidbuvaet-sam-obmin">
                        Як відбуваєть сам обмін ?
                    </p>
                    <img alt=""
                         class="arrow-1"
                         src="https://static.overlay-tech.com/assets/b289fb3e-053d-46dc-ab21-4b66d69de499.svg" />
                </div>
                <div class="line-5"></div>
                <div class="flex-wrapper-thirteen">
                    <img alt=""
                         class="alfons-morales-yl-swj-sy7stw-unsplash-1"
                         src="https://static.overlay-tech.com/assets/4442d233-edf5-41e8-b8da-027e13879421.png" />
                    <p class="num-01">01</p>
                    <p class="dlja-pochatku-vibiraete-knigukomikszhurn">
                        Для початку, вибираєте книгу\комікс\журнал,який вам до вподоби.
                    </p>
                </div>

                <div class="flex-wrapper-fourteen">
                    <p class="num-02">02</p>
                    <div class="flex-wrapper-seventeen">
                        <p class="pislja-chogovam-potribno-zvjazatis-iz-vl">
                            Після чого,вам потрібно <br />
                            зв’язатись із власником.
                        </p>
                        <p class="ce-mozhna-zrobiti-za-dopomogoju-email-abo">
                            (Це можна зробити за допомогою email або номеру
                            телефону, в залежності, що саме вказав власник)
                        </p>

                    </div>
                    <img alt=""
                         class="second-photo-1"
                         src="https://static.overlay-tech.com/assets/e72d0092-5b6f-4f70-b62a-7b359ca5881b.png" />
                </div>
                <div class="flex-wrapper-twelve">
                    <img alt=""
                         class="alfons-morales-yl-swj-sy7stw-unsplash-1"
                         src="https://static.overlay-tech.com/assets/aedd7e00-475b-4b2b-b68a-2048cd5fa5c7.png" />
                    <p class="num-03">03</p>
                    <p class="domovtes-za-sposib-dostavki">
                        Домовтесь за спосіб доставки
                    </p>
                </div>
                <div class="flex-wrapper-sixteen">
                    <p class="num-04">04</p>
                    <div class="flex-wrapper-eighteen">
                        <p class="i-os-kniga-prjamue-do-vas">
                            І ось, книга прямує до вас
                        </p>
                        <p class="takozh-mozhete-vistaviti-svoi-knigi-chita">
                            (Також можете виставити свої книги, читанням яких
                            ви насолоджувались раніше)
                        </p>
                    </div>
                    <img alt=""
                         src="https://static.overlay-tech.com/assets/c7657cca-ebfc-4c0c-8c0f-0d706015ad7a.png" />
                </div>
            </div>
            <div class="flex-wrapper-six">
                <p class="vinikli-zapitannja">Виникли запитання?</p>
                <p class="todi-zvertajsja-na-nashu-elektronnu-skrin">
                    Тоді звертайся на нашу електронну скриньку)
                </p>
                <p class="libroswap-com">libroswap&#64;gmail.com</p>
            </div>

        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
