<link href="./css/main.css" rel="stylesheet" />
<head>
    <title>PHPJabbers.com | Free Book Online Store Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">


                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/home" class="active">Home</a></li>

                <li><a href="/ListofBooks">AllBooks</a></li>

                <li><a href="checkout.html">Checkout</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>

                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="terms.html">Terms</a></li>
                    </ul>
                </li>

                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div class="component-2">
            <div class="flex-wrapper-four">
                <div class="flex-wrapper-one">
                    <img alt=""
                         class="sherlok-6"
                         src="https://static.overlay-tech.com/assets/cf490390-74fc-4de0-b91d-b77d078fdf9e.png" /><img alt=""
                                                                                                                      class="sherlok-6"
                                                                                                                      src="https://static.overlay-tech.com/assets/7d070d48-9189-401f-9a06-c58caed6d527.png" /><img alt=""
                                                                                                                                                                                                                   class="sherlok-6"
                                                                                                                                                                                                                   src="https://static.overlay-tech.com/assets/5411977b-32df-42e2-bd34-51d95e1ff5ff.png" />
                </div>
                <div class="flex-wrapper-six">
                    <div class="flex-wrapper-seven">
                        <p class="sherlok-golms">Шерлок Голмс</p>
                        <img alt=""
                             class="heart"
                             src="https://static.overlay-tech.com/assets/fab6e672-1094-4506-8f62-145eac5e0453.png" />
                    </div>
                    <div class="flex-wrapper-eight">
                        <p class="harakteristiki">Характеристики</p>
                        <p class="l-viv-10-04-2021">Львів 10.04.2021</p>
                    </div>
                    <div class="flex-wrapper-nine">
                        <div class="relative-wrapper-five">
                            <p class="avtor">Автор</p>
                            <div class="group-39">
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                            </div>
                        </div>
                        <p class="artur-konan-dojl">Артур Конан Дойл</p>
                    </div>
                    <div class="flex-wrapper-ten">
                        <div class="relative-wrapper-one">
                            <p class="avtor">Жанр</p>
                            <div class="group-40">
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                                <div class="ellipse-14"></div>
                            </div>
                        </div>
                        <p class="artur-konan-dojl">Детектив</p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <div class="relative-wrapper-two">
                            <p class="avtor">Видавництво</p>
                            <div class="group-42">
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                                <div class="ellipse-14-two"></div>
                            </div>
                        </div>
                        <p class="a-ba-ba-ga-la-ma-ga">
                            А-ба-ба-га-ла-ма-га
                        </p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <div class="relative-wrapper-three">
                            <p class="avtor">Рік видання</p>
                            <div class="group-44">
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                                <div class="ellipse-14-three"></div>
                            </div>
                        </div>
                        <p class="a-ba-ba-ga-la-ma-ga">2019</p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <p class="a-ba-ba-ga-la-ma-ga">Мова</p>
                        <div class="group-41">
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                            <div class="ellipse-107"></div>
                        </div>
                        <p class="a-ba-ba-ga-la-ma-ga">Українська</p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <p class="pereklad">Переклад</p>
                        <div class="group-46">
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                            <div class="ellipse-78"></div>
                        </div>
                        <p class="pereklad">Так</p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <p class="pereklad">Перекладачі</p>
                        <div class="group-46">
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                            <div class="ellipse-17"></div>
                        </div>
                        <p class="pereklad">Володимир Панченко</p>
                    </div>
                    <div class="flex-wrapper-eleven">
                        <div class="relative-wrapper-four">
                            <p class="avtor">Палітурка</p>
                            <div class="group-47">
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                                <div class="ellipse-75"></div>
                            </div>
                        </div>
                        <p class="a-ba-ba-ga-la-ma-ga">Тверда</p>
                    </div>
                    <div class="flex-wrapper-seven">
                        <p class="a-ba-ba-ga-la-ma-ga">
                            Кількість сторінок
                        </p>
                        <div class="group-41">
                            <div class="ellipse-15"></div>
                            <div class="ellipse-15"></div>
                            <div class="ellipse-15"></div>
                            <div class="ellipse-15"></div>
                            <div class="ellipse-15"></div>
                            <div class="ellipse-15"></div>
                        </div>
                        <p class="a-ba-ba-ga-la-ma-ga">1488</p>
                    </div>
                </div>
            </div>
            <div class="flex-wrapper-four">
                <div class="flex-wrapper-two">
                    <img alt=""
                         class="sherlok-6"
                         src="https://static.overlay-tech.com/assets/128c64b1-1c6a-4d04-a861-37bb635bb63e.png" /><img alt=""
                                                                                                                      class="sherlok-6"
                                                                                                                      src="https://static.overlay-tech.com/assets/ab714ed7-0980-48ce-a166-34a6e84f9972.png" /><img alt=""
                                                                                                                                                                                                                   class="sherlok-6"
                                                                                                                                                                                                                   src="https://static.overlay-tech.com/assets/89db8822-b04c-49e0-ba72-05d6e307f53e.png" />
                </div>
                <button class="button">Обміняти</button>
            </div>
            <div class="flex-wrapper-three">
                <img alt=""
                     class="sherlok-zmist-5"
                     src="https://static.overlay-tech.com/assets/d312da31-90fa-4e10-9314-ae1a06435b2d.png" /><img alt=""
                                                                                                                  class="sherlok-8"
                                                                                                                  src="https://static.overlay-tech.com/assets/765dd746-c845-4d07-bf42-f8371e216021.png" /><img alt=""
                                                                                                                                                                                                               class="sherlock-holmes-8"
                                                                                                                                                                                                               src="https://static.overlay-tech.com/assets/63805020-ec6b-48bb-93a3-69146a9f4dd1.png" /><img alt=""
                                                                                                                                                                                                                                                                                                            class="sherlok-zmist-8"
                                                                                                                                                                                                                                                                                                            src="https://static.overlay-tech.com/assets/98142d11-dda5-4716-b099-1b810a1a7d6a.png" />
            </div>
            <p class="opis">Опис</p>
            <p class="num-1887-roku-v-bitons-komu-rizdvjanomu-al-m">
                1887 року в «Бітонському різдвяному альманасі» з’явилася
                друком повість «Етюд у багряних тонах» нікому тоді не
                відомого автора – лікаря Артура Конан Дойла. Упродовж
                чотирьох наступних десятиліть ім’я цього письменника
                стане одним із найпопулярніших не лише в рідній
                Британії, а й у цілому світі, а створені ним персонажі –
                геніальний детектив-аматор Шерлок Голмс і його
                простакуватий приятель доктор Вотсон – заживуть у
                свідомості читачів власним, часом навіть незалежним від
                волі автора, життям. А пізніше на скромній лондонській
                вулиці Бейкер-стріт навіть з’явиться будинок-музей
                Шерлока Голмса, який щороку прийматиме мільйони
                відвідувачів з усього світу…
            </p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
